<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class"container">
			<%= link_to "Template Site", '/pages/Homepage', id: "logo" %>

			<nav>
				<ul class="nav pull-right">
				
				<li><%= link_to "Home",  root_path %></li>
				<li><%= link_to "Page1", page1_path %></li>
				<li><%= link_to "Page2", page2_path %></li>
				<li><%= link_to "Page3", page3_path %></li>
				<li><%= link_to "Page4", page4_path %></li>
				<li><%= link_to "Page5", page5_path %></li>
			</ul>
		</nav>
	</div>
</div>
</header>