<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class"container">
			<%= link_to "Template Site", '/pages/Homepage', id: "logo" %>

			<nav>
				<ul class="nav pull-right">
				
				<li><%= link_to "Home",      '/pages/Homepage' %></li>
				<li><%= link_to "Page1",       '/pages/Page1' %></li>
				<li><%= link_to "Page2",   '/pages/Page2' %></li>
				<li><%= link_to "Page3", '/pages/Page3'%></li>
				<li><%= link_to "Page4", '/pages/Page4'%></li>
				<li><%= link_to "Page5", '/pages/Page5'%></li>
			</ul>
		</nav>
	</div>
</div>
</header>